@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: Roboto;
}
h1{
    text-align: center;
    color:rgb(250, 7, 7);
}
.ul1{
    position: absolute;
    right:97vw;
    width: 100vw;
    background-color: #c0baca;
    display: flex;
    justify-content: space-around;
    transition: 2s;
}
.ul1:hover{
    position: absolute;
    right: 0vw;
    width: 100vw;
    background-color: #6910f8;
    display: flex;
    justify-content: space-around;
    transition: 2s;
}
p{
    font-size: 1.35em;
    font-weight: 600;
    color: rgb(3, 3, 94);
}
.li1{
    list-style-type:none;
    background-color: rgb(246, 250, 8);
    height: 13vh;
    width: 13vh;
    text-align: center;
    border:1px solid black;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ob1{
    background-image:url("https://cdn.pixabay.com/photo/2019/01/09/21/40/castle-3924346_960_720.jpg");
    background-size: cover;
    background-position: center;
}
.ob2{
   background-image: url("https://cdn.pixabay.com/photo/2016/06/28/01/42/chess-1483735_960_720.jpg");
   background-size: cover;
   background-position: center;
}
.ob3{
   background-image: url("https://clipart-best.com/img/golden-cup/golden-cup-clip-art-43.png");
   background-size: cover;
   background-position: center;
}
.ob4{
   background-color:rgb(9, 245, 174);
   background-image: url("https://cdn.pixabay.com/photo/2013/10/01/16/55/magnifying-glass-189254_960_720.png");
   background-size: cover;
   background-position: center; 
}
.ob5{
    background-color:rgb(27, 177, 247);
    background-image: url("https://cdn.pixabay.com/photo/2020/10/31/21/25/paint-brush-5702384_960_720.png");
    background-size: cover;
    background-position: center; 
}
.obchg{
    font-weight: 700;
    color:rgb(255, 255, 255);
    font-size: 1.25em;
    text-decoration: none;
}
.sl4{
    color:rgb(90, 40, 20)
}
.sl3{
    color:rgb(26, 47, 236);
}
.z-fon{
    position: absolute;
    z-index: -1;
    opacity: 0.35;
    width:100vw;
    height:100vh;
    top:0vh;
    left:0vh;
    background-image: url("https://ggdt.ru/file/2021/04/efa20a88e86267ed7c49f394fa22c1d0.jpg");
}
